p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Bibliography / references */
.csl-entry {
  margin-top: 1em;
}

.hanging-indent .csl-entry {
  padding-left: 1em;
  text-indent: -1em;
}
